body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logout-btn {
  margin-left: auto;
  width: 10%;
  height: 80%;
  font-size: 20px;
  margin-right: 10px;
  background-color: var(--primary-navy-blue);
  color: var(--primary-off-white);
  border: none;
  outline: none;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.logout-btn:hover {
  background-color: var(--primary-off-white);
  color: var(--primary-navy-blue);
  border: 2px solid var(--primary-navy-blue);
  cursor: pointer;
}

.chat-container {
  width: 100%;
  height: 100%;
  /* max-width: 800px; */
  /* height: 600px; */
  background-color: var(--primary-off-white);
  border: 2px solid var(--primary-navy-blue);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px var(--primary-navy-blue);
}

.chat-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 75px;
  font-size: 26px;
  border-bottom: 2px solid var(--primary-navy-blue);
}

.chat-header {
  color: var(--primary-navy-blue);
}

.chat-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  color: var(--primary-navy-blue);
  background: radial-gradient(
    circle,
    rgb(243, 208, 208) 0%,
    rgba(39, 187, 255, 0.5) 50%,
    rgb(1, 174, 255) 100%
  );
}

@media screen and (max-width: 800px) {
  .chat-container {
    height: 100vh;
  }

  .chat-navbar {
    height: 10vh;
    font-size: 20px;
  
  }

  .chat-main {
    font-size: 16px;
  }

  .logout-btn {
    margin-right: 0px;
    width: 30%;
    height: 50%;
    font-size: 15px;
  }

  .chat-header {
    font-size: 15px;
  }

  .chat-main {
    font-size: 16px;
  }
}
