.login-container{
    text-align: center;
    color: var(--secondary-bright-blue);
  }
  
  .login-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
  }


  
  .google-signin-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .google-signin-btn:hover {
    background-color: #f1f1f1;
  }
  
  .google-icon {
    width: 300px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-right: px; /* Adjust the margin as needed */
  }
  