.login-container {
  width: 400px;
  max-width: 50% vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  font-weight: 900;
  font-size: 35px;
  margin: 30px 0;
  color: #0056b3;
}

.input-container {
  margin-bottom: 15px;
  font-size: 1.2rem;

}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

button {
  font-size: 1.3rem;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.google-login{
  background-color: transparent;
  margin: 15px 0;
  border: 1px solid blue;
  color: #0056b3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.google-login:hover{
  background: #000;
}